html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(213, 213, 214);
}
.b {
  border-left: blue solid 3px !important;
}
.float {
  float: right;
}
$pro:#fefefe;